/**
 * css for videojs-aspect-ratio-panel
 * With the default plugins for postcss you can
 * - @import files, they will be inlined during build
 * - not worry about browser prefixes, they will be handled
 * - nest selectors. This follows the css specification that is
 *   currently out on some browsers. See https://tabatkins.github.io/specs/css-nesting/
 * - custom properties (aka variables) via the var(--var-name) syntax. See
 *   https://www.w3.org/TR/css-variables-1/
 */


/* Note: all vars must be defined here, there are no "local" vars */
.vjs-resizer-modal {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.vjs-resizer-modal-content {
  background-color: rgba(43, 51, 63, 0.7);
  margin: 10% auto;
  width: 460px;
  height: 300px;
}

.vjs-resizer-modal-close {
  position: relative;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: lighter;
  right: 4px;
}

.vjs-resizer-modal-close:hover,
.vjs-resizer-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.vjs-resizer-wrap {
  font-size: 16px;
  line-height: 200%;
  position: relative;
  width: 350px;
  height: 100%;
  margin: 15% auto;
  z-index: 1;
}

.vjs-resizer-modal-title {
  text-align: center;
  padding: 12px;
  font-size: 18px;
}

.vjs-resizer-size .size-scroll {
  color: white;
  width: 255px;
  height: 5px;
  background: #ccc;
  position: relative;
  display: inline-block;
}

.vjs-resizer-size .size-scroll-bar {
  width: 15px;
  height: 15px;
  background: #369;
  position: absolute;
  top: -5px;
  left: 255px;
  cursor: pointer;
  border-radius: 100%;
}

.vjs-resizer-size .size-scroll-mask {
  position: absolute;
  left: 0;
  top: 0;
  background: #369;
  width: 255px;
  height: 5px;
}

.vjs-resizer-size .size-title {
  display: inline-block;
  cursor: initial;
  margin-right: 12px;
}

.vjs-resizer-wrap ul {
  margin-top: 20px;
  padding: 0;
}

.vjs-resizer-wrap li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  background-color: rgb(85, 85, 85);
}

.vjs-resizer-wrap li:hover {
  background-color: rgb(70, 85, 85);
}
